@using Alghorithms.Models
@model Comment
                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                    <div class="d-flex">

                        <div class="custom-block-topics-listing-info d-flex">
                            <div>
                                <h5 class="mb-2">@Model.UserName</h5>

                                <p class="mb-0" style="color: #fff">@Model.Text</p>
                            </div>
                        </div>
                    </div>
                </div>