@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Асосӣ</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Тамос</li>
                    </ol>
                </nav>

                <h2 class="text-white">Тамос</h2>
            </div>

        </div>
    </div>
</header>



<section class="section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 m-auto">
                <h3 class="mb-4">Барномасоз:</h3>
            </div>

            <div class="col-lg-8 col-12 m-auto">
                <h6 style="color:#000">Неъматов А.</h6>
            </div>

            <div class="col-lg-8 col-12 m-auto">
                <ul>
                    <li>Телефон: <a href="tel: 98-500-7557" class="site-footer-link">98-500-7557</a></li>
                    <li>Email: <a href="mailto:algorithmsproject69@gmail.com" class="site-footer-link">algorithmsproject69@gmail.com</a></li>
                    <li>Telegram: <a href="https://t.me/AzimjonNematov" class="site-footer-link">https://t.me/AzimjonNematov</a></li>
                </ul>
            </div>

            <div style="padding:20px"> </div>

            <div class="col-lg-8 col-12 m-auto">
                <h3 class="mb-4">Дизайнер:</h3>
            </div>

            <div class="col-lg-8 col-12 m-auto">
                <h6 style="color:#000">Гадойбоев Ш.</h6>
            </div>

            <div class="col-lg-8 col-12 m-auto">
                <ul>
                    <li>Телефон: <a href="tel: 918-23-6765" class="site-footer-link">918-23-6765</a></li>
                    <li>Email: <a href="mailto:shahzodgadoyboev01@gmail.com" class="site-footer-link">shahzodgadoyboev01@gmail.com</a></li>
                    <li>Telegram: <a href="https://t.me/Shahzod_002" class="site-footer-link">https://t.me/Shahzod_002</a></li>
                </ul>
            </div>

            @*<div class="col-lg-8 col-12 m-auto" style="padding-bottom:20px">
                <label for="floatingInput">Ному насаб</label>
                <input type="text" class="form-control" value="@Model.Name" required="" readonly>
            </div>
            
            <div class="col-lg-8 col-12 m-auto" style="padding-bottom:20px">
                <label for="floatingInput">Логин</label>
                <input type="text" class="form-control" value="@Model.Login" required="" readonly>
            </div>

            <div class="col-lg-8 col-12 m-auto">
                <a href="@Url.Action("SignOutt", "Users")" class="btn custom-btn mt-3 mt-lg-4" style="background-color: #F00">Баромадан</a>
            </div>*@

            <!--
            <div class="col-lg-6 col-12">
                <form action="#" method="post" class="custom-form contact-form" role="form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="">
                                            
                                <label for="floatingInput">Name</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12"> 
                            <div class="form-floating">
                                <input type="email" name="email" id="email" pattern="[^ @@]*@@[^ @@]*" class="form-control" placeholder="Email address" required="">
                                            
                                <label for="floatingInput">Email address</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <input type="text" name="subject" id="name" class="form-control" placeholder="Name" required="">
                                            
                                <label for="floatingInput">Subject</label>
                            </div>

                            <div class="form-floating">
                                <textarea class="form-control" id="message" name="message" placeholder="Tell me about the project"></textarea>
                                            
                                <label for="floatingTextarea">Tell me about the project</label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 ms-auto">
                            <button type="submit" class="form-control">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
            -->

        </div>
    </div>
</section>