@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script>
function searchClick() {
    var searchText = encodeURIComponent(document.getElementById("search").value);
    window.open("Topics/Search/"+searchText,"_self")
}
</script>

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Алгоритмы Программирования</h1>

                            <h6 class="text-center">платформа для изучения алгоритмов</h6>

                            @*<form @*action="@Url.Action("Search", "Topics", null)" method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">*@
                            <div class="custom-form mt-4 pt-2 mb-lg-0 mb-5">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bi-search" id="basic-addon1">

                                    </span>

                                    <input id="search" name="keyword" type="search" class="form-control" placeholder="Design, Code, Marketing, Finance ..." aria-label="Search">

                                    <button onclick="searchClick()" type="button" class="searchBtn">Искать</button>
                                </div>
                            </div>

                            @*</form>*@
                        </div>

                    </div>
                </div>
            </section>

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12 mx-auto">
                            <h2 class ="text-white text-left">О большое</h2>

                            <p class="text-white text-center">

                            <div class="text-white-50">
                                "О большое" (или "Big O") -- это нотация, используемая в информатике и математике для описания асимптотической сложности алгоритмов. Она показывает, как время выполнения алгоритма или его использование памяти растет в зависимости от размера входных данных.
                            </div>
                            
                            <br/>

                            <div class="text-white-50">
                                Основная идея Big O — описать худший сценарий поведения алгоритма. Например, если алгоритм имеет сложность O(n), это значит, что время выполнения алгоритма увеличивается линейно с увеличением размера входных данных. Нотация O(n^2) означает квадратичную зависимость, то есть время выполнения увеличивается пропорционально квадрату размера входных данных.
                            </div>

                            <br/>

                            <h4 class="text-white">Примеры часто встречающихся обозначений:</h4>
                            <ul>
                                <li class="text-white-50">O(1): Константная сложность, время выполнения не зависит от размера входных данных.</li>
                                <li class="text-white-50">O(log n): Логарифмическая сложность, часто встречается в алгоритмах поиска.</li>
                                <li class="text-white-50">O(n log n): Линейно-логарифмическая сложность, характерна для эффективных алгоритмов сортировки, таких как сортировка слиянием.</li>
                                <li class="text-white-50">O(n^2): Квадратичная сложность, встречается в менее эффективных алгоритмах сортировки, например, в сортировке вставками.</li>
                            </ul>

                            <div class="text-white-50">Использование Big O позволяет сравнивать и выбирать наиболее эффективные алгоритмы для решения конкретных задач, особенно когда дело касается обработки больших объемов данных.</div>
                            </p>
                        </div>
                    </div>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-lg-8 col-12 mx-auto">
                            <h2 class="text-white text-left">Блок схемы</h2>

                            <p class="text-white text-center">

                                <div class="text-white-50">
                                    Блок-схемы — это графическое представление алгоритмов или процессов, используемое для упрощения понимания и анализа последовательности действий. Они широко применяются в программировании, инженерии, управлении проектами и других областях для визуализации работы систем.
                                </div>

                                <br />

                                <br />

                                <h4 class="text-white">Основные элементы блок-схем:</h4>

                                <ul>
                                    <li class="text-white-50">Овал (терминатор): Начало и конец процесса.</li>
                                    <li class="text-white-50">Прямоугольник (процесс): Описание операции или действия, выполняемого в процессе.</li>
                                    <li class="text-white-50">Ромб (решение): Точка принятия решения с несколькими исходами, обычно "да" или "нет".</li>
                                    <li class="text-white-50">Параллелограмм (ввод/вывод): Операции ввода данных в процесс или вывода данных из него.</li>
                                    <li class="text-white-50">Стрелки (поток): Указывают направление потока процесса от одного элемента к другому.</li>
                                </ul>

                                <h4 class="text-white">Пример простой блок-схемы для алгоритма нахождения максимального числа из двух:</h4>

                                <ul>
                                    <li class="text-white-50">Начало (Овал).</li>
                                    <li class="text-white-50">Ввод двух чисел (Параллелограмм)</li>
                                    <li class="text-white-50">Сравнение чисел (Ромб).</li>
                                    <li class="text-white-50">Конец (Овал)</li>
                                </ul>

                                <h4 class="text-white">Преимущества использования блок-схем:</h4>

                                <ul>
                                    <li class="text-white-50">Простота восприятия: Графическое представление упрощает понимание сложных процессов.</li>
                                    <li class="text-white-50">Ясность: Блок-схемы помогают выявлять логические ошибки и излишние шаги в алгоритме.</li>
                                    <li class="text-white-50">Универсальность: Подходят для различных областей и типов процессов.</li>
                                    <li class="text-white-50">Конец (Овал)</li>
                                </ul>

                                <h4 class="text-white">Пример блок-схемы на практике:</h4>
                                <div class="col-lg-5 col-12">
                                    <img src="~/images/block.jpg" class="img-fluid" alt="">
                                </div>

                                <div class="text-white-50">В современных инструментах для создания блок-схем используются программные средства, такие как Microsoft Visio, Lucidchart и другие, что облегчает процесс построения и редактирования диаграмм.</div>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Frequently Asked Questions</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-5 col-12">
                            <img src="~/images/faq_graphic.jpg" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is Topic Listing?
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Topic Listing is free Bootstrap 5 CSS template. <strong>You are not allowed to redistribute this template</strong> on any other template collection website without our permission. Please contact TemplateMo for more detail. Thank you.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How to find a topic?
                                    </button>
                                    </h2>

                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can search on Google with <strong>keywords</strong> such as templatemo portfolio, templatemo one-page layouts, photography, digital marketing, etc.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Does it need to paid?
                                    </button>
                                    </h2>

                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
           