@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script>
function searchClick() {
    var searchText = encodeURIComponent(document.getElementById("search").value);
    window.open("Topics/Search/"+searchText,"_self")
}
</script>

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Алгоритмҳои барномасозӣ</h1>

                            <h6 class="text-center">платформа барои омӯзиши алгоритмҳо</h6>

                            @*<form @*action="@Url.Action("Search", "Topics", null)" method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">*@
                            <div class="custom-form mt-4 pt-2 mb-lg-0 mb-5">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bi-search" id="basic-addon1">

                                    </span>

                                    <input id="search" name="keyword" type="search" class="form-control" placeholder="Номи алгоритм..." aria-label="Search">

                                    <button onclick="searchClick()" type="button" class="searchBtn">ҷустуҷӯ</button>
                                </div>
                            </div>

                            @*</form>*@
                        </div>

                    </div>
                </div>
            </section>

            <section class="timeline-section " id="section_3">
                <div class="section-overlay "></div>

                <div class="container section-padding">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">Чизе дар бораи алгоритмҳо</h2>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Ба ҷаҳони алгоритмҳо ғарқ шавед.</h4>

                                        <p class="text-white">Дар бораи намудҳои гуногун, таъинот ва истифодаи онҳо маълумот гиред. Аз ҷобаҷогузорӣ то дарефти роҳҳо, маводҳои мо ба шумо дар фаҳмидани асосҳо ва мафҳумҳои пешрафта кӯмак мерасонанд.</p>

                                        <div class="icon-holder">
                                            <i class="bi-search"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">Хатчӯби Алгоритмҳо</h4>

                                        <p class="text-white">Ин ба шумо имкон медиҳад, ки ба маводи омӯхтаатон ба осонӣ баргардед ва онро дар амал татбиқ кунед.</p>

                                        <div class="icon-holder">
                                            <i class="bi-bookmark"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">Дар вазифаҳои воқеӣ машқ кунед</h4>

                                        <p class="text-white">Мушкилотро ҳал кунед, малакаҳои худро такмил диҳед ва мутахассиси алгоритмҳо ва сохторҳои маълумот шавед.</p>

                                        <div class="icon-holder">
                                            <i class="bi-archive"></i>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <h4 class="text-white text-center">Дар зер шумо метавонед шарҳи баъзе истилоҳҳои муҳимро хонед</h4>
                </div>
            </section>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12 m-auto">
                            <h2 class ="text-left">О-и калон</h2>

                            <p class="text-center">

                            <div class="">
                                <p>"О-и калон" (Е "Big O") -- ин нотатсияест, ки дар информатика ва математика барои тавсифи мураккабии асимптотикии алгоритмҳо истифода мешавад. Он нишон медиҳад, ки чӣ гуна вақти иҷрои алгоритм ё истифодаи хотираи он вобаста ба андозаи маълумоти воридшуда меафзояд.</p>
                            </div>
                            
                            <br/>

                            <div class="">
                                <p>Ақидаи асосии Big O тасвири бадтарин сенарияи рафтори алгоритм аст. Масалан, агар алгоритм мураккабии O(n) дошта бошад, ин маънои онро дорад, ки вақти иҷрои алгоритм бо афзоиши андозаи маълумоти воридшуда ба таври хаттӣ зиед мешавад. Нотатсияи O (n^2) маънои вобастагии квадратиро дорад, яъне вақти иҷро мутаносибан ба квадрати андозаи маълумоти воридшуда зиед мешавад.</p>
                            </div>

                            <br/>

                            <h4 class="">Намунаҳои аломатҳои маъмулан истифодашаванда:</h4>
                            <ul>
                                <li class="">O (1): мураккабии Доимӣ, вақти иҷро аз андозаи маълумоти воридшуда вобаста нест;</li>
                                <li class="">O (log n): мураккабии Логарифмӣ, аксар вақт дар алгоритмҳои ҷустуҷӯ пайдо мешавад;</li>
                                <li class="">O (n log n): мураккабии Хаттӣ-логарифмӣ, ки барои алгоритмҳои самараноки ҷудокунӣ, ба монанди ҷудокунии якҷояшавӣ хос аст;</li>
                                <li class="">O (n ^ 2): мураккабии Квадратӣ, дар алгоритмҳои камтар самараноки навъбандӣ, масалан, дар навъбандии иловаҳо пайдо мешавад.</li>
                            </ul>

                            <div class=""><p>Истифодаи Big O ба шумо имкон медиҳад, ки алгоритмҳои самарабахшро барои ҳалли масъалаҳои мушаххас муқоиса кунед ва интихоб кунед, хусусан вақте ки сухан дар бораи коркарди миқдори зиеди маълумот меравад.</p></div>
                            </p>
                        </div>
                    </div>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-lg-8 col-12 mx-auto">
                            <h2 class="text-left">Блок-схемаҳо</h2>

                            <p class="text-center">

                                <div class="">
                                    <p>Блок-схемаҳо ин намоиши графикии алгоритмҳо ё равандҳо мебошад, ки барои осон кардани фаҳмидан ва таҳлили пайдарпаии амалҳо истифода мешавад. Онҳо дар барномасозӣ, муҳандисӣ, идоракунии лоиҳа ва дигар соҳаҳо барои визуализатсияи кори системаҳо васеъ истифода мешаванд.</p>
                                </div>

                                <br />

                                <br />

                                <h4 class="">Унсурҳои асосии блок-схемаҳо:</h4>

                                <ul>
                                    <li class="">Байзавӣ (терминатор): Оғоз ва анҷоми раванд;</li>
                                    <li class="">Росткунҷа (раванд): Тавсифи амалиет е амали дар раванд иҷрошаванда;</li>
                                    <li class="">Ромб (қарор): нуқтаи қабули қарор бо натиҷаҳои гуногун, одатан "ҳа" е "не";</li>
                                    <li class="">Параллелограмм (вуруд / баромад): Амалиети ворид кардани маълумот ба раванд е баровардани маълумот аз он;</li>
                                    <li class="">Тирҳо (ҷараен): самти ҷараени равандро аз як унсур ба унсури дигар нишон медиҳанд.</li>
                                </ul>

                                <h4 class="">Афзалиятҳои истифодаи блок-схемҳо:</h4>

                                <ul>
                                    <li class="">Осонии дарк: тасвири Графикӣ фаҳмиши равандҳои мураккабро осон мекунад;</li>
                                    <li class="">Равшанӣ: диаграммаҳои Ҷараен барои муайян кардани хатогиҳои мантиқӣ ва қадамҳои зиедатӣ дар алгоритм кӯмак мекунанд;</li>
                                    <li class="">Универсалӣ: Барои соҳаҳо Ва намудҳои гуногуни равандҳо мувофиқанд.</li>
                                </ul>

                                <h4 class="">Намунаи блок-схема дар амал</h4>

                                <div class="col-lg-5 col-12">
                                    <img src="~/images/block.jpg" class="img-fluid" alt="">
                                </div>

                                <br/>

                                <div class="">
                                    <p>Воситаҳои муосир барои сохтани диаграммаҳо аз нармафзор ба Монанди Microsoft Visio, Lucidchart ва ғайра истифода мебаранд, ки раванди сохтан ва таҳрири диаграммаҳоро осон мекунад.</p>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            @*<section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Часто задаваемые вопросы</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-5 col-12">
                            <img src="~/images/faq_graphic.jpg" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Что такое алгоритм?
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                        <strong>Алгоритм</strong> — это последовательность шагов или инструкций для выполнения определенной задачи или решения проблемы. Они лежат в основе компьютерных программ и помогают автоматизировать процессы.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Какие существуют типы алгоритмов?
                                    </button>
                                    </h2>

                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Существует множество типов алгоритмов, включая:
                                            <ul>
                                                <li>Алгоритмы сортировки (быстрая сортировка, сортировка слиянием)</li>
                                                <li>Поисковые алгоритмы (бинарный поиск, линейный поиск)</li>
                                                <li>Алгоритмы на графах (алгоритм Дейкстры, поиск в ширину)</li>
                                                <li>Рекурсивные алгоритмы</li>
                                                <li>Жадные алгоритмы</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Что такое асимптотическая сложность алгоритма?
                                    </button>
                                    </h2>

                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Асимптотическая сложность описывает производительность и использование ресурсов (время и память) алгоритмом по мере увеличения размера входных данных.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                            Что означает нотация "О большое"?
                                        </button>
                                    </h2>

                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            "О большое" (Big O) используется для описания верхней границы времени выполнения или использования памяти алгоритмом в худшем случае. Примеры: O(1) — константное время, O(n) — линейное время, O(n^2) — квадратичное время.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                            Как выбрать подходящий алгоритм для задачи?
                                        </button>
                                    </h2>

                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Выбор алгоритма зависит от требований задачи, размера входных данных и ресурсов. Важно учитывать время выполнения, использование памяти и простоту реализации. Тестирование и анализ помогают найти наиболее эффективное решение.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>*@
           